

html {
    font-size: 62.5%;
    font-family: Arial;
}


body {
    font-size: 1.6rem;
}

* { font-family: inherit;
    font-size: inherit;
}

a {
    outline: none; 
    text-decoration: none;
    color: #000000;
}

.material-icons {
    color: #707579;
}

#b-circle {
    border-radius: 50%;
}

.wrapper {
    min-height: 100vh;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

header ul li {
    margin: 0.9rem;
    font-size: 1.3rem;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main p {
    font-size: 1.3rem;
}

.buttons {
    display: flex;
    flex-direction: row;
    margin: 3rem;
}

.buttons button {
    background-color: white;
    border: 0;
    font-size: 1.4rem;
    margin: 2rem;
}

main img {
    margin: 2rem;
}

main p a {
    color: blue;
}

.searchpanel {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 4.5rem;
    width: 60%;
    border: 0.1rem solid #ECECEC;
    border-radius: 2rem;
}

.searchbox {
    width: 100%;
    outline: none;
    border: none;
    font-size: 1.6rem;
}

.searchpanel:hover {
    box-shadow: 0.2rem 0.4rem 0.7rem -0.3rem #CCC,
                -0.1rem -0.1rem 0.7rem -0.3rem #CCC;
}


#microphone {
    height: 2.5rem;
}

.material-icons {
    margin: 1rem;
}

.language a:hover {
    text-decoration: underline;
}

footer {
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
    color: #666;
    font-size: 1.4rem;
}

* footer a {
    color: #666;
}

* footer a:hover {
    text-decoration: underline;
}

.footer-top {
    display: flex;
    height: 4.5rem;
    border-bottom: 0.15rem solid #dbdbdb;
    align-items: center;
}

.footer-top p {
    margin-left: 3rem;
}

.footer-middle {
    display: flex;
    justify-content: center;
    height: 5rem;
}

.footer-middle p {
    margin-top: 2rem;
}

.footer-middle img {
    width: 1.2rem;
}

.footer-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 5rem;
}

.footer-bottom-left {
    display: flex;
    justify-content: center;
}

.footer-bottom-right {
    display: flex;
    justify-content: center;
}

.footer-bottom-right li {
    margin: 1.2rem;
}
.footer-bottom-left li {
    margin: 1.2rem;
}