#b-circle {
    border-radius: 50%;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
